[submodule "libraries/STM32SD"]
	path = libraries/STM32SD
	url = https://github.com/geolink/STM32SD.git
[submodule "libraries/FatFs"]
	path = libraries/FatFs
	url = https://github.com/geolink/FatFs.git
[submodule "libraries/QSPI_Flash"]
	path = libraries/QSPI_Flash
	url = https://github.com/geolink/QuadSPIFlash.git
[submodule "libraries/TinyGPS"]
	path = libraries/TinyGPS
	url = https://github.com/geolink/TinyGPS.git
[submodule "libraries/DueFlashStorage"]
	path = libraries/DueFlashStorage
	url = https://github.com/geolink/DueFlashStorage.git
[submodule "libraries/STM32RTC"]
	path = libraries/STM32RTC
	url = https://github.com/geolink/STM32RTC.git
[submodule "libraries/STM32BackupRegs"]
	path = libraries/STM32BackupRegs
	url = https://github.com/geolink/STM32BackupRegs.git
