[submodule "libraries/STM32SD"]
	path = libraries/STM32SD
	url = https://github.com/geolink/STM32SD.git
[submodule "libraries/FatFs"]
	path = libraries/FatFs
	url = https://github.com/geolink/FatFs.git
[submodule "libraries/QSPI_Flash"]
	path = libraries/QSPI_Flash
	url = https://github.com/geolink/MX25R6435F.git
